In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_excel('auto/data/1_中國大陸_進出口總值(美元).xlsx', index_col = 0)
# df = df[df['category_x'] == '進口總值(含復進口)']
indexs = df['date'].tolist() 
label_im = ['進口總值(含復進口)']
# data_im_indexs = df.iloc[:, 1].tolist()  # Convert to list
data_im_values = df['import_美元'].tolist()  # Convert to list

# df = pd.read_excel('auto/data/1_中國大陸_進出口總值(美元).xlsx', index_col = 0)
# df = df[df['category_y'] == '出口總值(含復出口)']
label_ex = ['出口總值(含復出口)']
# data_ex_indexs = df.iloc[:, 1].tolist()  # Convert to list
data_ex_values = df['export_美元'].tolist()  # Convert to list

In [28]:
df['年'] = df['date'].apply(lambda x: x.split('年')[0])
df['月'] = df['date'].apply(lambda x: x.split('年')[1])

In [32]:
def convert_roc_to_gregorian(roc_date):
    # Split year and month
    year_str, month_str = roc_date.split('年')
    year = int(year_str)
    month = int(month_str.replace('月', ''))
    
    # Convert ROC year to Gregorian year
    gregorian_year = year + 1911
    
    # Return as formatted string
    return f"{gregorian_year}-{month:02d}"

# Apply the conversion to the dataframe
df['gregorian_date'] = df['date'].apply(convert_roc_to_gregorian)

In [33]:
df.sort_values('gregorian_date')

,category_x,date,中文貨名_x,國家_x,import_美元,category_y,中文貨名_y,國家_y,export_美元,年,月,gregorian_date
160,NaN,92年3月,NaN,NaN,NaN,出口總值(含復出口),可互換之搪孔或拉孔工具，工具機用,中國大陸,0,92,3月,2003-03
161,NaN,92年4月,NaN,NaN,NaN,出口總值(含復出口),可互換之搪孔或拉孔工具，工具機用,中國大陸,0,92,4月,2003-04
162,進口總值(含復進口),92年6月,可互換之搪孔或拉孔工具，工具機用,中國大陸,0.0,NaN,NaN,NaN,NaN,92,6月,2003-06
163,進口總值(含復進口),92年7月,可互換之搪孔或拉孔工具，工具機用,中國大陸,0.0,NaN,NaN,NaN,NaN,92,7月,2003-07
164,進口總值(含復進口),92年9月,可互換之搪孔或拉孔工具，工具機用,中國大陸,0.0,出口總值(含復出口),可互換之搪孔或拉孔工具，工具機用,中國大陸,1,92,9月,2003-09
...,...,...,...,...,...,...,...,...,...,...,...,...
155,進口總值(含復進口),112年9月,可互換之搪孔或拉孔工具，工具機用,中國大陸,8.0,出口總值(含復出口),可互換之搪孔或拉孔工具，工具機用,中國大陸,553,112,9月,2023-09
144,進口總值(含復進口),112年10月,可互換之搪孔或拉孔工具，工具機用,中國大陸,3.0,出口總值(含復出口),可互換之搪孔或拉孔工具，工具機用,中國大陸,552,112,10月,2023-10
145,進口總值(含復進口),112年11月,可互換之搪孔或拉孔工具，工具機用,中國大陸,20.0,出口總值(含復出口),可互換之搪孔或拉孔工具，工具機用,中國大陸,882,112,11月,2023-11
146,進口總值(含復進口),112年12月,可互換之搪孔或拉孔工具，工具機用,中國大陸,5.0,出口總值(含復出口),可互換之搪孔或拉孔工具，工具機用,中國大陸,868,112,12月,2023-12
156,進口總值(含復進口),113年1月,可互換之搪孔或拉孔工具，工具機用,中國大陸,19.0,出口總值(含復出口),可互換之搪孔或拉孔工具，工具機用,中國大陸,789,113,1月,2024-01

In [19]:
data_im_values[2] == float('nan')

False

In [20]:
np.isnan(data_im_values[2])

True

In [18]:
type(data_im_values[2])

float

In [4]:
data_ex_values

[]

In [3]:
data_im_values

['0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '4',
 '3',
 '12',
 '20',
 '2',
 '0',
 '3',
 '5',
 '3',
 '4',
 '1',
 '1',
 '1',
 '3',
 '13',
 '3',
 '7',
 '4',
 '1',
 '1',
 '1',
 '17',
 '19',
 '26',
 '29',
 '5',
 '7',
 '7',
 '9',
 '2',
 '18',
 '26',
 '5',
 '11',
 '18',
 '20',
 '17',
 '20',
 '13',
 '23',
 '11',
 '6',
 '8',
 '8',
 '0',
 '1',
 '8',
 '14',
 '13',
 '18',
 '2',
 '28',
 '52',
 '23',
 '4',
 '19',
 '21',
 '8',
 '15',
 '2',
 '11',
 '24',
 '3',
 '2',
 '22',
 '3',
 '37',
 '21',
 '9',
 '23',
 '38',
 '47',
 '172',
 '43',
 '17',
 '8',
 '9',
 '6',
 '5',
 '4',
 '7',
 '8',
 '2',
 '3',
 '4',
 '4',
 '2',
 '14',
 '12',
 '11',
 '7',
 '6',
 '5',
 '11',
 '5',
 '12',
 '9',
 '11',
 '3',
 '8',
 '0',
 '7',
 '0',
 '8',
 '11',
 '0',
 '6',
 '1',
 '0',
 '0',
 '15',
 '5',
 '3',
 '4',
 '2',
 '9',
 '0',
 '0',
 '12',
 '20',
 '2',
 '5',
 '5',
 '13',
 '0',
 '1',
 '11',
 '6',
 '0',
 '11',
 '5',
 '2',
 '0',
 '0',
 '3',
 '6',
 '110',
 '2',
 '10',
 '5',
 '6',
 '11',
 '3',
 '27',
 '1',
 '23',
 '12',
 '27',
 '265',
 '6',
 '0',
 '13',
 '10',
 '10',
 '7',
 '3',
 '2',
 '8',
 '6',
 '30',
 '22',
 '54',
 '0',
 '5',
 '4',
 '4',
 '7',
 '5',
 '3',
 '7',
 '7',
 '14',
 '44',
 '1',
 '65',
 '10',
 '61',
 '7',
 '4',
 '14',
 '5',
 '7',
 '11',
 '1',
 '3',
 '7',
 '1',
 '33',
 '9',
 '10',
 '0',
 '5',
 '13',
 '2',
 '5',
 '18',
 '3',
 '5',
 '11',
 '24',
 '29',
 '13',
 '29',
 '10',
 '23',
 '9',
 '8',
 '17',
 '8',
 '3',
 '20',
 '5',
 '19']

In [2]:
'''各國產品搜索量'''
search_country = 'IN'
df = pd.read_excel(f'auto/data/2_google_{search_country}.xlsx', index_col = 0)
data_controller = df.iloc[:,0].tolist()
data_machine = df.iloc[:,1].tolist()

In [9]:
df.index.to_list()

[Timestamp('2012-01-01 00:00:00'),
 Timestamp('2012-01-02 00:00:00'),
 Timestamp('2012-01-03 00:00:00'),
 Timestamp('2012-01-04 00:00:00'),
 Timestamp('2012-01-05 00:00:00'),
 Timestamp('2012-01-06 00:00:00'),
 Timestamp('2012-01-07 00:00:00'),
 Timestamp('2012-01-08 00:00:00'),
 Timestamp('2012-01-09 00:00:00'),
 Timestamp('2012-01-10 00:00:00'),
 Timestamp('2012-01-11 00:00:00'),
 Timestamp('2012-01-12 00:00:00'),
 Timestamp('2012-01-13 00:00:00'),
 Timestamp('2012-01-14 00:00:00'),
 Timestamp('2012-01-15 00:00:00'),
 Timestamp('2012-01-16 00:00:00'),
 Timestamp('2012-01-17 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2012-01-19 00:00:00'),
 Timestamp('2012-01-20 00:00:00'),
 Timestamp('2012-01-21 00:00:00'),
 Timestamp('2012-01-22 00:00:00'),
 Timestamp('2012-01-23 00:00:00'),
 Timestamp('2012-01-24 00:00:00'),
 Timestamp('2012-01-25 00:00:00'),
 Timestamp('2012-01-26 00:00:00'),
 Timestamp('2012-01-27 00:00:00'),
 Timestamp('2012-01-28 00:00:00'),
 Timestamp('2012-01-29 00:00:00'),
 Timestamp('2012-01-30 00:00:00'),
 Timestamp('2012-01-31 00:00:00'),
 Timestamp('2012-01-31 00:00:00'),
 Timestamp('2012-02-01 00:00:00'),
 Timestamp('2012-02-02 00:00:00'),
 Timestamp('2012-02-03 00:00:00'),
 Timestamp('2012-02-04 00:00:00'),
 Timestamp('2012-02-05 00:00:00'),
 Timestamp('2012-02-06 00:00:00'),
 Timestamp('2012-02-07 00:00:00'),
 Timestamp('2012-02-08 00:00:00'),
 Timestamp('2012-02-09 00:00:00'),
 Timestamp('2012-02-10 00:00:00'),
 Timestamp('2012-02-11 00:00:00'),
 Timestamp('2012-02-12 00:00:00'),
 Timestamp('2012-02-13 00:00:00'),
 Timestamp('2012-02-14 00:00:00'),
 Timestamp('2012-02-15 00:00:00'),
 Timestamp('2012-02-16 00:00:00'),
 Timestamp('2012-02-17 00:00:00'),
 Timestamp('2012-02-18 00:00:00'),
 Timestamp('2012-02-19 00:00:00'),
 Timestamp('2012-02-20 00:00:00'),
 Timestamp('2012-02-21 00:00:00'),
 Timestamp('2012-02-22 00:00:00'),
 Timestamp('2012-02-23 00:00:00'),
 Timestamp('2012-02-24 00:00:00'),
 Timestamp('2012-02-25 00:00:00'),
 Timestamp('2012-02-26 00:00:00'),
 Timestamp('2012-02-27 00:00:00'),
 Timestamp('2012-02-28 00:00:00'),
 Timestamp('2012-02-29 00:00:00'),
 Timestamp('2012-03-01 00:00:00'),
 Timestamp('2012-03-01 00:00:00'),
 Timestamp('2012-03-02 00:00:00'),
 Timestamp('2012-03-03 00:00:00'),
 Timestamp('2012-03-04 00:00:00'),
 Timestamp('2012-03-05 00:00:00'),
 Timestamp('2012-03-06 00:00:00'),
 Timestamp('2012-03-07 00:00:00'),
 Timestamp('2012-03-08 00:00:00'),
 Timestamp('2012-03-09 00:00:00'),
 Timestamp('2012-03-10 00:00:00'),
 Timestamp('2012-03-11 00:00:00'),
 Timestamp('2012-03-12 00:00:00'),
 Timestamp('2012-03-13 00:00:00'),
 Timestamp('2012-03-14 00:00:00'),
 Timestamp('2012-03-15 00:00:00'),
 Timestamp('2012-03-16 00:00:00'),
 Timestamp('2012-03-17 00:00:00'),
 Timestamp('2012-03-18 00:00:00'),
 Timestamp('2012-03-19 00:00:00'),
 Timestamp('2012-03-20 00:00:00'),
 Timestamp('2012-03-21 00:00:00'),
 Timestamp('2012-03-22 00:00:00'),
 Timestamp('2012-03-23 00:00:00'),
 Timestamp('2012-03-24 00:00:00'),
 Timestamp('2012-03-25 00:00:00'),
 Timestamp('2012-03-26 00:00:00'),
 Timestamp('2012-03-27 00:00:00'),
 Timestamp('2012-03-28 00:00:00'),
 Timestamp('2012-03-29 00:00:00'),
 Timestamp('2012-03-30 00:00:00'),
 Timestamp('2012-03-31 00:00:00'),
 Timestamp('2012-03-31 00:00:00'),
 Timestamp('2012-04-01 00:00:00'),
 Timestamp('2012-04-02 00:00:00'),
 Timestamp('2012-04-03 00:00:00'),
 Timestamp('2012-04-04 00:00:00'),
 Timestamp('2012-04-05 00:00:00'),
 Timestamp('2012-04-06 00:00:00'),
 Timestamp('2012-04-07 00:00:00'),
 Timestamp('2012-04-08 00:00:00'),
 Timestamp('2012-04-09 00:00:00'),
 Timestamp('2012-04-10 00:00:00'),
 Timestamp('2012-04-11 00:00:00'),
 Timestamp('2012-04-12 00:00:00'),
 Timestamp('2012-04-13 00:00:00'),
 Timestamp('2012-04-14 00:00:00'),
 Timestamp('2012-04-15 00:00:00'),
 Timestamp('2012-04-16 00:00:00'),
 Timestamp('2012-04-17 00:00:00'),
 Timestamp('2012-04-18 00:00:00'),
 Timestamp('2012-04-19 00:00:00'),
 Timestamp('2012-04-20 00:00:00'),
 Timestamp('2012-04-21 00:00:00'),
 Timestamp('2012-04-22 00:00:00'),
 Timestamp('2012-04-23 00:00:00'),
 Timestamp('2012-04-24 00:00:00'),
 Timestamp('2012-04-25 00:00:00'),
 Timestamp('2012-04-26 00:00:00'),
 Timestamp('2012-04-27 00:00:00'),
 Timestamp('2012-04-28 00:00:00'),
 Timestamp('2012-04-29 00:00:00'),
 Timestamp('2012-04-30 00:00:00'),
 Timestamp('2012-04-30 00:00:00'),
 Timestamp('2012-05-01 00:00:00'),
 Timestamp('2012-05-02 00:00:00'),
 Timestamp('2012-05-03 00:00:00'),
 Timestamp('2012-05-04 00:00:00'),
 Timestamp('2012-05-05 00:00:00'),
 Timestamp('2012-05-06 00:00:00'),
 Timestamp('2012-05-07 00:00:00'),
 Timestamp('2012-05-08 00:00:00'),
 Timestamp('2012-05-09 00:00:00'),
 Timestamp('2012-05-10 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2012-05-12 00:00:00'),
 Timestamp('2012-05-13 00:00:00'),
 Timestamp('2012-05-14 00:00:00'),
 Timestamp('2012-05-15 00:00:00'),
 Timestamp('2012-05-16 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-05-19 00:00:00'),
 Timestamp('2012-05-20 00:00:00'),
 Timestamp('2012-05-21 00:00:00'),
 Timestamp('2012-05-22 00:00:00'),
 Timestamp('2012-05-23 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-05-26 00:00:00'),
 Timestamp('2012-05-27 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2012-05-29 00:00:00'),
 Timestamp('2012-05-30 00:00:00'),
 Timestamp('2012-05-30 00:00:00'),
 Timestamp('2012-05-31 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-03 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-05 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2012-06-09 00:00:00'),
 Timestamp('2012-06-10 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2012-06-12 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-16 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2012-06-21 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2012-06-25 00:00:00'),
 Timestamp('2012-06-26 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-28 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2012-06-30 00:00:00'),
 Timestamp('2012-07-01 00:00:00'),
 Timestamp('2012-07-02 00:00:00'),
 Timestamp('2012-07-03 00:00:00'),
 Timestamp('2012-07-04 00:00:00'),
 Timestamp('2012-07-05 00:00:00'),
 Timestamp('2012-07-06 00:00:00'),
 Timestamp('2012-07-07 00:00:00'),
 Timestamp('2012-07-08 00:00:00'),
 Timestamp('2012-07-09 00:00:00'),
 Timestamp('2012-07-10 00:00:00'),
 Timestamp('2012-07-11 00:00:00'),
 Timestamp('2012-07-12 00:00:00'),
 Timestamp('2012-07-13 00:00:00'),
 Timestamp('2012-07-14 00:00:00'),
 Timestamp('2012-07-15 00:00:00'),
 Timestamp('2012-07-16 00:00:00'),
 Timestamp('2012-07-17 00:00:00'),
 Timestamp('2012-07-18 00:00:00'),
 Timestamp('2012-07-19 00:00:00'),
 Timestamp('2012-07-20 00:00:00'),
 Timestamp('2012-07-21 00:00:00'),
 Timestamp('2012-07-22 00:00:00'),
 Timestamp('2012-07-23 00:00:00'),
 Timestamp('2012-07-24 00:00:00'),
 Timestamp('2012-07-25 00:00:00'),
 Timestamp('2012-07-26 00:00:00'),
 Timestamp('2012-07-27 00:00:00'),
 Timestamp('2012-07-28 00:00:00'),
 Timestamp('2012-07-29 00:00:00'),
 Timestamp('2012-07-29 00:00:00'),
 Timestamp('2012-07-30 00:00:00'),
 Timestamp('2012-07-31 00:00:00'),
 Timestamp('2012-08-01 00:00:00'),
 Timestamp('2012-08-02 00:00:00'),
 Timestamp('2012-08-03 00:00:00'),
 Timestamp('2012-08-04 00:00:00'),
 Timestamp('2012-08-05 00:00:00'),
 Timestamp('2012-08-06 00:00:00'),
 Timestamp('2012-08-07 00:00:00'),
 Timestamp('2012-08-08 00:00:00'),
 Timestamp('2012-08-09 00:00:00'),
 Timestamp('2012-08-10 00:00:00'),
 Timestamp('2012-08-11 00:00:00'),
 Timestamp('2012-08-12 00:00:00'),
 Timestamp('2012-08-13 00:00:00'),
 Timestamp('2012-08-14 00:00:00'),
 Timestamp('2012-08-15 00:00:00'),
 Timestamp('2012-08-16 00:00:00'),
 Timestamp('2012-08-17 00:00:00'),
 Timestamp('2012-08-18 00:00:00'),
 Timestamp('2012-08-19 00:00:00'),
 Timestamp('2012-08-20 00:00:00'),
 Timestamp('2012-08-21 00:00:00'),
 Timestamp('2012-08-22 00:00:00'),
 Timestamp('2012-08-23 00:00:00'),
 Timestamp('2012-08-24 00:00:00'),
 Timestamp('2012-08-25 00:00:00'),
 Timestamp('2012-08-26 00:00:00'),
 Timestamp('2012-08-27 00:00:00'),
 Timestamp('2012-08-28 00:00:00'),
 Timestamp('2012-08-28 00:00:00'),
 Timestamp('2012-08-29 00:00:00'),
 Timestamp('2012-08-30 00:00:00'),
 Timestamp('2012-08-31 00:00:00'),
 Timestamp('2012-09-01 00:00:00'),
 Timestamp('2012-09-02 00:00:00'),
 Timestamp('2012-09-03 00:00:00'),
 Timestamp('2012-09-04 00:00:00'),
 Timestamp('2012-09-05 00:00:00'),
 Timestamp('2012-09-06 00:00:00'),
 Timestamp('2012-09-07 00:00:00'),
 Timestamp('2012-09-08 00:00:00'),
 Timestamp('2012-09-09 00:00:00'),
 Timestamp('2012-09-10 00:00:00'),
 Timestamp('2012-09-11 00:00:00'),
 Timestamp('2012-09-12 00:00:00'),
 Timestamp('2012-09-13 00:00:00'),
 Timestamp('2012-09-14 00:00:00'),
 Timestamp('2012-09-15 00:00:00'),
 Timestamp('2012-09-16 00:00:00'),
 Timestamp('2012-09-17 00:00:00'),
 Timestamp('2012-09-18 00:00:00'),
 Timestamp('2012-09-19 00:00:00'),
 Timestamp('2012-09-20 00:00:00'),
 Timestamp('2012-09-21 00:00:00'),
 Timestamp('2012-09-22 00:00:00'),
 Timestamp('2012-09-23 00:00:00'),
 Timestamp('2012-09-24 00:00:00'),
 Timestamp('2012-09-25 00:00:00'),
 Timestamp('2012-09-26 00:00:00'),
 Timestamp('2012-09-27 00:00:00'),
 Timestamp('2012-09-27 00:00:00'),
 Timestamp('2012-09-28 00:00:00'),
 Timestamp('2012-09-29 00:00:00'),
 Timestamp('2012-09-30 00:00:00'),
 Timestamp('2012-10-01 00:00:00'),
 Timestamp('2012-10-02 00:00:00'),
 Timestamp('2012-10-03 00:00:00'),
 Timestamp('2012-10-04 00:00:00'),
 Timestamp('2012-10-05 00:00:00'),
 Timestamp('2012-10-06 00:00:00'),
 Timestamp('2012-10-07 00:00:00'),
 Timestamp('2012-10-08 00:00:00'),
 Timestamp('2012-10-09 00:00:00'),
 Timestamp('2012-10-10 00:00:00'),
 Timestamp('2012-10-11 00:00:00'),
 Timestamp('2012-10-12 00:00:00'),
 Timestamp('2012-10-13 00:00:00'),
 Timestamp('2012-10-14 00:00:00'),
 Timestamp('2012-10-15 00:00:00'),
 Timestamp('2012-10-16 00:00:00'),
 Timestamp('2012-10-17 00:00:00'),
 Timestamp('2012-10-18 00:00:00'),
 Timestamp('2012-10-19 00:00:00'),
 Timestamp('2012-10-20 00:00:00'),
 Timestamp('2012-10-21 00:00:00'),
 Timestamp('2012-10-22 00:00:00'),
 Timestamp('2012-10-23 00:00:00'),
 Timestamp('2012-10-24 00:00:00'),
 Timestamp('2012-10-25 00:00:00'),
 Timestamp('2012-10-26 00:00:00'),
 Timestamp('2012-10-27 00:00:00'),
 Timestamp('2012-10-27 00:00:00'),
 Timestamp('2012-10-28 00:00:00'),
 Timestamp('2012-10-29 00:00:00'),
 Timestamp('2012-10-30 00:00:00'),
 Timestamp('2012-10-31 00:00:00'),
 Timestamp('2012-11-01 00:00:00'),
 Timestamp('2012-11-02 00:00:00'),
 Timestamp('2012-11-03 00:00:00'),
 Timestamp('2012-11-04 00:00:00'),
 Timestamp('2012-11-05 00:00:00'),
 Timestamp('2012-11-06 00:00:00'),
 Timestamp('2012-11-07 00:00:00'),
 Timestamp('2012-11-08 00:00:00'),
 Timestamp('2012-11-09 00:00:00'),
 Timestamp('2012-11-10 00:00:00'),
 Timestamp('2012-11-11 00:00:00'),
 Timestamp('2012-11-12 00:00:00'),
 Timestamp('2012-11-13 00:00:00'),
 Timestamp('2012-11-14 00:00:00'),
 Timestamp('2012-11-15 00:00:00'),
 Timestamp('2012-11-16 00:00:00'),
 Timestamp('2012-11-17 00:00:00'),
 Timestamp('2012-11-18 00:00:00'),
 Timestamp('2012-11-19 00:00:00'),
 Timestamp('2012-11-20 00:00:00'),
 Timestamp('2012-11-21 00:00:00'),
 Timestamp('2012-11-22 00:00:00'),
 Timestamp('2012-11-23 00:00:00'),
 Timestamp('2012-11-24 00:00:00'),
 Timestamp('2012-11-25 00:00:00'),
 Timestamp('2012-11-26 00:00:00'),
 Timestamp('2012-11-26 00:00:00'),
 Timestamp('2012-11-27 00:00:00'),
 Timestamp('2012-11-28 00:00:00'),
 Timestamp('2012-11-29 00:00:00'),
 Timestamp('2012-11-30 00:00:00'),
 Timestamp('2012-12-01 00:00:00'),
 Timestamp('2012-12-02 00:00:00'),
 Timestamp('2012-12-03 00:00:00'),
 Timestamp('2012-12-04 00:00:00'),
 Timestamp('2012-12-05 00:00:00'),
 Timestamp('2012-12-06 00:00:00'),
 Timestamp('2012-12-07 00:00:00'),
 Timestamp('2012-12-08 00:00:00'),
 Timestamp('2012-12-09 00:00:00'),
 Timestamp('2012-12-10 00:00:00'),
 Timestamp('2012-12-11 00:00:00'),
 Timestamp('2012-12-12 00:00:00'),
 Timestamp('2012-12-13 00:00:00'),
 Timestamp('2012-12-14 00:00:00'),
 Timestamp('2012-12-15 00:00:00'),
 Timestamp('2012-12-16 00:00:00'),
 Timestamp('2012-12-17 00:00:00'),
 Timestamp('2012-12-18 00:00:00'),
 Timestamp('2012-12-19 00:00:00'),
 Timestamp('2012-12-20 00:00:00'),
 Timestamp('2012-12-21 00:00:00'),
 Timestamp('2012-12-22 00:00:00'),
 Timestamp('2012-12-23 00:00:00'),
 Timestamp('2012-12-24 00:00:00'),
 Timestamp('2012-12-25 00:00:00'),
 Timestamp('2012-12-26 00:00:00'),
 Timestamp('2012-12-26 00:00:00'),
 Timestamp('2012-12-27 00:00:00'),
 Timestamp('2012-12-28 00:00:00'),
 Timestamp('2012-12-29 00:00:00'),
 Timestamp('2012-12-30 00:00:00'),
 Timestamp('2012-12-31 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('2013-01-02 00:00:00'),
 Timestamp('2013-01-03 00:00:00'),
 Timestamp('2013-01-04 00:00:00'),
 Timestamp('2013-01-05 00:00:00'),
 Timestamp('2013-01-06 00:00:00'),
 Timestamp('2013-01-07 00:00:00'),
 Timestamp('2013-01-08 00:00:00'),
 Timestamp('2013-01-09 00:00:00'),
 Timestamp('2013-01-10 00:00:00'),
 Timestamp('2013-01-11 00:00:00'),
 Timestamp('2013-01-12 00:00:00'),
 Timestamp('2013-01-13 00:00:00'),
 Timestamp('2013-01-14 00:00:00'),
 Timestamp('2013-01-15 00:00:00'),
 Timestamp('2013-01-16 00:00:00'),
 Timestamp('2013-01-17 00:00:00'),
 Timestamp('2013-01-18 00:00:00'),
 Timestamp('2013-01-19 00:00:00'),
 Timestamp('2013-01-20 00:00:00'),
 Timestamp('2013-01-21 00:00:00'),
 Timestamp('2013-01-22 00:00:00'),
 Timestamp('2013-01-23 00:00:00'),
 Timestamp('2013-01-24 00:00:00'),
 Timestamp('2013-01-25 00:00:00'),
 Timestamp('2013-01-25 00:00:00'),
 Timestamp('2013-01-26 00:00:00'),
 Timestamp('2013-01-27 00:00:00'),
 Timestamp('2013-01-28 00:00:00'),
 Timestamp('2013-01-29 00:00:00'),
 Timestamp('2013-01-30 00:00:00'),
 Timestamp('2013-01-31 00:00:00'),
 Timestamp('2013-02-01 00:00:00'),
 Timestamp('2013-02-02 00:00:00'),
 Timestamp('2013-02-03 00:00:00'),
 Timestamp('2013-02-04 00:00:00'),
 Timestamp('2013-02-05 00:00:00'),
 Timestamp('2013-02-06 00:00:00'),
 Timestamp('2013-02-07 00:00:00'),
 Timestamp('2013-02-08 00:00:00'),
 Timestamp('2013-02-09 00:00:00'),
 Timestamp('2013-02-10 00:00:00'),
 Timestamp('2013-02-11 00:00:00'),
 Timestamp('2013-02-12 00:00:00'),
 Timestamp('2013-02-13 00:00:00'),
 Timestamp('2013-02-14 00:00:00'),
 Timestamp('2013-02-15 00:00:00'),
 Timestamp('2013-02-16 00:00:00'),
 Timestamp('2013-02-17 00:00:00'),
 Timestamp('2013-02-18 00:00:00'),
 Timestamp('2013-02-19 00:00:00'),
 Timestamp('2013-02-20 00:00:00'),
 Timestamp('2013-02-21 00:00:00'),
 Timestamp('2013-02-22 00:00:00'),
 Timestamp('2013-02-23 00:00:00'),
 Timestamp('2013-02-24 00:00:00'),
 Timestamp('2013-02-24 00:00:00'),
 Timestamp('2013-02-25 00:00:00'),
 Timestamp('2013-02-26 00:00:00'),
 Timestamp('2013-02-27 00:00:00'),
 Timestamp('2013-02-28 00:00:00'),
 Timestamp('2013-03-01 00:00:00'),
 Timestamp('2013-03-02 00:00:00'),
 Timestamp('2013-03-03 00:00:00'),
 Timestamp('2013-03-04 00:00:00'),
 Timestamp('2013-03-05 00:00:00'),
 Timestamp('2013-03-06 00:00:00'),
 Timestamp('2013-03-07 00:00:00'),
 Timestamp('2013-03-08 00:00:00'),
 Timestamp('2013-03-09 00:00:00'),
 Timestamp('2013-03-10 00:00:00'),
 Timestamp('2013-03-11 00:00:00'),
 Timestamp('2013-03-12 00:00:00'),
 Timestamp('2013-03-13 00:00:00'),
 Timestamp('2013-03-14 00:00:00'),
 Timestamp('2013-03-15 00:00:00'),
 Timestamp('2013-03-16 00:00:00'),
 Timestamp('2013-03-17 00:00:00'),
 Timestamp('2013-03-18 00:00:00'),
 Timestamp('2013-03-19 00:00:00'),
 Timestamp('2013-03-20 00:00:00'),
 Timestamp('2013-03-21 00:00:00'),
 Timestamp('2013-03-22 00:00:00'),
 Timestamp('2013-03-23 00:00:00'),
 Timestamp('2013-03-24 00:00:00'),
 Timestamp('2013-03-25 00:00:00'),
 Timestamp('2013-03-26 00:00:00'),
 Timestamp('2013-03-26 00:00:00'),
 Timestamp('2013-03-27 00:00:00'),
 Timestamp('2013-03-28 00:00:00'),
 Timestamp('2013-03-29 00:00:00'),
 Timestamp('2013-03-30 00:00:00'),
 Timestamp('2013-03-31 00:00:00'),
 Timestamp('2013-04-01 00:00:00'),
 Timestamp('2013-04-02 00:00:00'),
 Timestamp('2013-04-03 00:00:00'),
 Timestamp('2013-04-04 00:00:00'),
 Timestamp('2013-04-05 00:00:00'),
 Timestamp('2013-04-06 00:00:00'),
 Timestamp('2013-04-07 00:00:00'),
 Timestamp('2013-04-08 00:00:00'),
 Timestamp('2013-04-09 00:00:00'),
 Timestamp('2013-04-10 00:00:00'),
 Timestamp('2013-04-11 00:00:00'),
 Timestamp('2013-04-12 00:00:00'),
 Timestamp('2013-04-13 00:00:00'),
 Timestamp('2013-04-14 00:00:00'),
 Timestamp('2013-04-15 00:00:00'),
 Timestamp('2013-04-16 00:00:00'),
 Timestamp('2013-04-17 00:00:00'),
 Timestamp('2013-04-18 00:00:00'),
 Timestamp('2013-04-19 00:00:00'),
 Timestamp('2013-04-20 00:00:00'),
 Timestamp('2013-04-21 00:00:00'),
 Timestamp('2013-04-22 00:00:00'),
 Timestamp('2013-04-23 00:00:00'),
 Timestamp('2013-04-24 00:00:00'),
 Timestamp('2013-04-25 00:00:00'),
 Timestamp('2013-04-25 00:00:00'),
 Timestamp('2013-04-26 00:00:00'),
 Timestamp('2013-04-27 00:00:00'),
 Timestamp('2013-04-28 00:00:00'),
 Timestamp('2013-04-29 00:00:00'),
 Timestamp('2013-04-30 00:00:00'),
 Timestamp('2013-05-01 00:00:00'),
 Timestamp('2013-05-02 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2013-05-04 00:00:00'),
 Timestamp('2013-05-05 00:00:00'),
 Timestamp('2013-05-06 00:00:00'),
 Timestamp('2013-05-07 00:00:00'),
 Timestamp('2013-05-08 00:00:00'),
 Timestamp('2013-05-09 00:00:00'),
 Timestamp('2013-05-10 00:00:00'),
 Timestamp('2013-05-11 00:00:00'),
 Timestamp('2013-05-12 00:00:00'),
 Timestamp('2013-05-13 00:00:00'),
 Timestamp('2013-05-14 00:00:00'),
 Timestamp('2013-05-15 00:00:00'),
 Timestamp('2013-05-16 00:00:00'),
 Timestamp('2013-05-17 00:00:00'),
 Timestamp('2013-05-18 00:00:00'),
 Timestamp('2013-05-19 00:00:00'),
 Timestamp('2013-05-20 00:00:00'),
 Timestamp('2013-05-21 00:00:00'),
 Timestamp('2013-05-22 00:00:00'),
 Timestamp('2013-05-23 00:00:00'),
 Timestamp('2013-05-24 00:00:00'),
 Timestamp('2013-05-25 00:00:00'),
 Timestamp('2013-05-25 00:00:00'),
 Timestamp('2013-05-26 00:00:00'),
 Timestamp('2013-05-27 00:00:00'),
 Timestamp('2013-05-28 00:00:00'),
 Timestamp('2013-05-29 00:00:00'),
 Timestamp('2013-05-30 00:00:00'),
 Timestamp('2013-05-31 00:00:00'),
 Timestamp('2013-06-01 00:00:00'),
 Timestamp('2013-06-02 00:00:00'),
 Timestamp('2013-06-03 00:00:00'),
 Timestamp('2013-06-04 00:00:00'),
 Timestamp('2013-06-05 00:00:00'),
 Timestamp('2013-06-06 00:00:00'),
 Timestamp('2013-06-07 00:00:00'),
 Timestamp('2013-06-08 00:00:00'),
 Timestamp('2013-06-09 00:00:00'),
 Timestamp('2013-06-10 00:00:00'),
 Timestamp('2013-06-11 00:00:00'),
 Timestamp('2013-06-12 00:00:00'),
 Timestamp('2013-06-13 00:00:00'),
 Timestamp('2013-06-14 00:00:00'),
 Timestamp('2013-06-15 00:00:00'),
 Timestamp('2013-06-16 00:00:00'),
 Timestamp('2013-06-17 00:00:00'),
 Timestamp('2013-06-18 00:00:00'),
 Timestamp('2013-06-19 00:00:00'),
 Timestamp('2013-06-20 00:00:00'),
 Timestamp('2013-06-21 00:00:00'),
 Timestamp('2013-06-22 00:00:00'),
 Timestamp('2013-06-23 00:00:00'),
 Timestamp('2013-06-24 00:00:00'),
 Timestamp('2013-06-24 00:00:00'),
 Timestamp('2013-06-25 00:00:00'),
 Timestamp('2013-06-26 00:00:00'),
 Timestamp('2013-06-27 00:00:00'),
 Timestamp('2013-06-28 00:00:00'),
 Timestamp('2013-06-29 00:00:00'),
 Timestamp('2013-06-30 00:00:00'),
 Timestamp('2013-07-01 00:00:00'),
 Timestamp('2013-07-02 00:00:00'),
 Timestamp('2013-07-03 00:00:00'),
 Timestamp('2013-07-04 00:00:00'),
 Timestamp('2013-07-05 00:00:00'),
 Timestamp('2013-07-06 00:00:00'),

In [10]:
df = pd.read_excel('auto/data/3_主要國家工業生產增加率.xlsx', index_col = 0)

In [24]:
df.iloc[:,0].values.tolist

In [18]:
df['中華民國'].values

array([ 15.05,  10.66,  10.64,   4.73,   5.62,   1.85,   0.56,   0.95,
        -1.34,   0.53,  -6.62, -10.12, -16.03,   6.75,  -1.94,  -0.58,
        -0.1 ,  -3.07,   0.86,   3.9 ,   6.22,   5.56,   7.45,   4.99,
        21.22,  -8.18,   0.31,   1.76,   3.3 ,   5.68,   5.86,   2.77,
         2.62,   2.7 ,   1.99,   9.03,  -0.28,   9.35,   4.81,   6.81,
         5.32,   8.38,   6.76,   8.29,  11.29,  11.02,   9.43,   9.  ,
        11.05,   3.64,   7.87,   2.48,  -0.53,  -0.04,  -2.96,  -6.4 ,
        -5.64,  -6.53,  -6.91,  -6.45,  -7.53,  -6.46,  -3.32,  -4.8 ,
         1.07,   2.32,   1.5 ,   9.56,   8.67,   7.52,  15.56,  10.55,
         5.64,  16.16,   8.33,   1.19,   3.27,   5.74,   2.55,   5.78,
         5.33,   2.62,   1.86,   3.93,   9.44,  -5.44,   5.22,   8.15,
         8.01,   0.13,   4.75,   1.29,   1.34,   7.96,   1.89,  -1.98,
         0.59,  -1.66,  -7.56,   2.26,  -1.89,  -0.23,   4.87,   3.1 ,
         0.75,  -0.38,   2.89,   8.77,  -1.83,  23.48,  12.95,   5.43,
         2.47,   8.38,   5.1 ,   6.08,  14.3 ,   8.25,  10.65,  12.84,
        21.8 ,   4.09,  17.34,  16.3 ,  20.07,  20.48,  16.76,  15.28,
        12.44,  12.67,  12.28,   8.5 ,   8.39,   8.96,   2.85,   4.62,
         1.75,  -2.26,  -2.38,  -2.02,  -8.73,  -8.1 ,  -9.18, -11.52,
       -23.42,  -9.63, -15.59, -22.57, -15.97, -17.19, -15.41, -10.67,
        -6.67,  -2.16,  -1.8 ,  -3.83,  15.61,  -1.31,   4.2 ,  14.48,
        15.73,  12.82,  13.01,  13.42])

In [25]:
df = pd.read_excel('auto/data/3_主要國家工業生產增加率.xlsx', index_col = 0) 
label_3 = df.columns.to_list()
indexs_3 = df.index.to_list()
data = {}
for i in range(0,df.shape[1]):
    tmp = df.iloc[:,i].tolist()
    data[label_3[i]] = tmp

In [113]:
# 寫入到舊有的excel檔的不同sheet裡面
path_new = 'auto/new_data/5_經濟數據_united-states.xlsx'
path_update = 'auto/data/5_經濟數據_united-states.xlsx'

df = pd.read_excel(path_new) 
index_names = df[df['總經種類'] == 'Overview']['指標名稱'].values
with pd.ExcelWriter(engine = 'openpyxl', path = path_update, mode = 'a', if_sheet_exists = 'overlay') as writer: # mode='a'現有檔案讀寫
    tmp_df = pd.read_excel(path_update, sheet_name = None) 
    # 存到指定的sheet
    for col in index_names:
        if col in tmp_df.keys():
            old_df = pd.read_excel(path_update, sheet_name = col, index_col = 0) # 舊資料
            tmp = df[(df['總經種類'] == 'Overview') & (df['指標名稱'] == col)] # 新資料
            old_df = pd.concat([old_df, tmp])
            old_df.to_excel(writer, sheet_name = col) 
        else:
            print(col)
            tmp = tmp_df['Sheet1'][(tmp_df['Sheet1']['總經種類'] == 'Overview') & (tmp_df['Sheet1']['指標名稱'] == col)]
            tmp.to_excel(writer, sheet_name = col)

In [114]:
df5 = pd.read_excel('auto/data/5_經濟數據_united-states.xlsx')

In [120]:
df5[(df5['總經種類'] == 'Overview')]

,總經種類,指標名稱,Last,Previous,Higest,Lowest,單位,公告日期
0,Overview,Currency,103.00,103.00,NaN,NaN,NaN,Oct/2
1,Overview,Stock Market,5862.00,5860.00,NaN,NaN,points,Oct/2
2,Overview,GDP Growth Rate,3.00,1.60,NaN,NaN,percent,Jun/2
3,Overview,GDP Annual Growth Rate,3.00,2.90,NaN,NaN,percent,Jun/2
4,Overview,Unemployment Rate,4.10,4.20,NaN,NaN,percent,Sep/2
5,Overview,Non Farm Payrolls,254.00,159.00,NaN,NaN,Thousand,Sep/2
6,Overview,Inflation Rate,2.40,2.50,NaN,NaN,percent,Sep/2
7,Overview,Inflation Rate MoM,0.20,0.20,NaN,NaN,percent,Sep/2
8,Overview,Interest Rate,5.00,5.50,NaN,NaN,percent,Sep/2
9,Overview,Balance of Trade,-70.43,-78.92,NaN,NaN,USD Billion,Aug/2
10,Overview,Current Account,-267.00,-241.00,NaN,NaN,USD Billion,Jun/2
11,Overview,Current Account to GDP,-3.00,-3.80,NaN,NaN,percent of GDP,Dec/2
12,Overview,Government Debt to GDP,122.00,122.00,NaN,NaN,percent of GDP,Dec/2
13,Overview,Government Budget,-6.20,-5.40,NaN,NaN,percent of GDP,Dec/2
14,Overview,Business Confidence,47.20,47.20,NaN,NaN,points,Sep/2
15,Overview,Manufacturing PMI,47.30,47.90,NaN,NaN,points,Sep/2
16,Overview,Non Manufacturing PMI,54.90,51.50,NaN,NaN,points,Sep/2
17,Overview,Services PMI,55.20,55.70,NaN,NaN,points,Sep/2
18,Overview,Consumer Confidence,68.90,70.10,NaN,NaN,points,Oct/2
19,Overview,Retail Sales MoM,0.10,1.10,NaN,NaN,percent,Aug/2
20,Overview,Building Permits,1470.00,1406.00,NaN,NaN,Thousand,Aug/2
21,Overview,Corporate Tax Rate,21.00,21.00,NaN,NaN,percent,Dec/2
22,Overview,Personal Income Tax Rate,37.00,37.00,NaN,NaN,percent,Dec/2

In [96]:
col

'Stock Market'

In [98]:
list(pd.read_excel(path_update, sheet_name = None).keys())

Index(['總經種類', '指標名稱', 'Last', 'Previous', 'Higest', 'Lowest', '單位', '公告日期'], dtype='object')

In [92]:
tmp_df

       總經種類      指標名稱   Last  Previous  Higest  Lowest   單位   公告日期
0  Overview  Currency  103.0     103.0     NaN     NaN  NaN  Oct/2
0  Overview  Currency  103.0     103.0     NaN     NaN  NaN  Oct/2